<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <nav>
       <h3>Interior Design Platform</h3>
            <% if (user) { %>
                <a href="/editprofile" class="editprofile">Edit Profile</a>
                <a href="/addproject" class="editprofile">Add Project</a>
                <a href="/logout" id="logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google">Login as designer</a>
            <% } %>
    </nav>
